@media(max-device-width: 600px){
  nav{
    flex-direction: column;

  }

  .head{
    flex-direction: column;
    flex: 100%;
    align-items: center;
    text-align: center;
  }

}
nav{
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 20px;
  justify-content: center;
}

nav a{
  flex-basis: 100%;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
}


section{
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 30px;
}

article {
    line-height: 25 px;
    text-align: justify;
    font-size: 15px;
}

.title {
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
}

.date {
    margin-top: 20px;
    font-style: italic;
    font-size: 15px;
}




body{
  padding: 10px;
  background-color: lightgrey;
}
