@media(max-device-width: 600px){
  nav{
    flex-direction: column;

  }

  div{
    flex-direction: column;
  }

  .head{
    flex-direction: column;
    flex: 100%;
    align-items: center;
    text-align: center;
  }

}

*{
  margin: 10px;
  text-decoration: none;
}
body{
  background-color: lightgrey;
  text-decoration: none;
}
nav{
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 20px;
  justify-content: center;
}

nav a{
  flex-basis: 100%;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.works{
  display: flex;
  align-items: center;
  justify-content: center;

}


div a{
  font-size: 30px;
  color: black;
  margin-top: 50px;
  border: 3px solid green;
  padding: 30px;
  background-color: skyblue;
}

div a:hover {


  color: blue;

}
