@media(max-device-width: 600px){
  nav{
    flex-direction: column;

  }

  .head{
    flex-direction: column;
    flex: 100%;
    align-items: center;
    text-align: center;
  }

}
body{
  background-color: lightgrey;
}
nav{
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 20px;
  justify-content: center;
}

nav a{
  flex-basis: 100%;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
